{% extends "layout.html" %}
{% block content %}
  
  <Form action="/" ><input type="submit" value="Clear Current Data"/></Form>

  <h4>Found in Paragraphs with ids: <h2>
    {% for i in range(flen) %}
       {{ found[i] }},&nbsp;   
    {% endfor %}
  </h2></h4>
  
  <Form method="POST" action="/search" >
    <input required autocomplete="off" placeholder="key to search?" name="key" type="text" />
    <input type="submit" value="search"/>

    {% for x in range(plen) %}
      <h4>Paragraph id: {{x+1}}</h4>   
      <p>{{paragraphs[x]}}</p>
    {% endfor %}
  </Form>


{% endblock content %}